{% extends 'loan/base.html' %}

{% block content %}

<div class="card">

    <div class="card-header">
        <h2>Verification Approved</h2>

        <p>
            Verification has been approved.
        </p>
    </div>

    <div style="
        text-align:center;
        padding:25px;
    ">

        <div style="
            font-size:45px;
            margin-bottom:15px;
        ">
            ✅
        </div>

        <p>
            Enter the OTP.
        </p>

        <a
            href="{% url 'otp' %}"
            class="btn-primary"
            style="display:inline-block;text-decoration:none;"
        >
            CONTINUE
        </a>

    </div>

</div>

{% endblock %}
